* {
    box-sizing: border-box;
}


/*****************************************   Nav Bar   ***********************************************/

@import "./CSS/Partials/_navBar.css";

/*****************************************   Home Page   *********************************************/

@import "./CSS/Partials/_exerciseList.css";
@import "./CSS/Partials/_editExercise.css";

/* About the Coaches */

#main {
    text-align: center;
}

.card {
    width: 18rem
}