* {
    box-sizing: border-box;
}


/*****************************************   Nav Bar   ***********************************************/

@import "./Assets/CSS/Partials/_navBar.css";

/*****************************************   Home Page   *********************************************/

@import "./Assets/CSS/Partials/_exerciseList.css";
@import "./Assets/CSS/Partials/_editExercise.css";

/* About the Coaches */

#main {
    text-align: center;
}

<<<<<<< HEAD
@import "./CSS/Partials/_exerciseList.css";
@import "./CSS/Partials/_editExercise.css";
@import "./CSS/Partials/_navBar.css";
=======
.card {
    width: 18rem
}
>>>>>>> 7565dce1cba7e99cd456c29f5f0cfabe29195e75
